{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <div class="container">
        <h1>Welcome to Motus Healthcare</h1>
        <p>Professional healthcare services to assist your recovery and achieve optimal health</p>
        <p>We understand the journey to recovery can be challenging and daunting. That's why we're here to help you every step of the way.</p>
    </div>

         <!-- Home Image -->
         <div class="home-image-container">
            <img src="{% static 'images/homepic.png' %}" alt="Motus Healthcare Image" class="home-image">
        </div>
    </div>
{% endblock content %}
