{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="calendar-container">
    <h1>View Appointments</h1>
    
    <div>
        <table class="calendar-table">
            <tr>
                <th class="calendar-header">Sun</th>
                <th class="calendar-header">Mon</th>
                <th class="calendar-header">Tue</th>
                <th class="calendar-header">Wed</th>
                <th class="calendar-header">Thu</th>
                <th class="calendar-header">Fri</th>
                <th class="calendar-header">Sat</th>
            </tr>
            <tr>
                <td class="calendar-empty"></td>
                <td class="calendar-empty"></td>
                <td class="calendar-empty"></td>
                <td class="calendar-date">1</td>
                <td class="calendar-date">2</td>
                <td class="calendar-date">3</td>
                <td class="calendar-date">4</td>
            </tr>
            <tr>
                <td class="calendar-date">5</td>
                <td class="calendar-date">6</td>
                <td class="calendar-date">7</td>
                <td class="calendar-date">8</td>
                <td class="calendar-date">9</td>
                <td class="calendar-date">10</td>
                <td class="calendar-date">11</td>
            </tr>
            <tr>
                <td class="calendar-date">12</td>
                <td class="calendar-date">13</td>
                <td class="calendar-date">14</td>
                <td class="calendar-date">15</td>
                <td class="calendar-date">16</td>
                <td class="calendar-date">17</td>
                <td class="calendar-date">18</td>
            </tr>
            <tr>
                <td class="calendar-date">19</td>
                <td class="calendar-date">20</td>
                <td class="calendar-date">21</td>
                <td class="calendar-date">22</td>
                <td class="calendar-date">23</td>
                <td class="calendar-date">24</td>
                <td class="calendar-date">25</td>
            </tr>
            <tr>
                <td class="calendar-date">26</td>
                <td class="calendar-date">27</td>
                <td class="calendar-date">28</td>
                <td class="calendar-date">29</td>
                <td class="calendar-date">30</td>
                <td class="calendar-date">31</td>
                <td class="calendar-empty"></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}